@import '../common-scss/common.scss';

.todo-list-item {
    padding: 10px 50px;

    @extend %item-aligning;

    box-sizing: border-box;

    .todo-list-link {
        @include font($font-family, $font-size-desc);
        color: $color_1;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: $hover-color;
            font-size: $font-size-desc + 1px;
            transition: 0.4s;
        }

        &--complited {
            color: $shadow-color;
            font-size: $font-size-desc;
            text-decoration: line-through;
        }

        @media (max-width: 500px) {
            font-size: $font-size-mobile;

            &:hover {
                color: $hover-color;
                font-size: $font-size-mobile + 1px;
                transition: 0.4s;
            }
    
            &--complited {
                color: $shadow-color;
                font-size: $font-size-mobile;
                text-decoration: line-through;
            }
        }
    }
}

.button {
    @extend %button; 
    width: 25px;
    height: 25px;

    &-trash {
        background: url('./img/148554.svg') no-repeat center;
    }
}